<div
  class="alain-default__nav-item"
  nz-dropdown
  [nzDropdownMenu]="iconMenu"
  nzTrigger="click"
  nzPlacement="bottomRight"
  (nzVisibleChange)="change()"
>
  <i nz-icon nzType="appstore"></i>
</div>
<nz-dropdown-menu #iconMenu="nzDropdownMenu">
  <div nz-menu class="wd-xl animated jello">
    <nz-spin [nzSpinning]="loading" [nzTip]="'در حال بارگذاری'">
      <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="app-icons">
        <div nz-col [nzSpan]="6">
          <img src="assets/theme/images/modules/cashbox.png" />
          <small>حسابداری</small>
        </div>
        <div nz-col [nzSpan]="6">
          <img src="assets/theme/images/modules/bank.png" />
          <small>خزانه</small>
        </div>
        <div nz-col [nzSpan]="6">
          <img src="assets/theme/images/modules/store.png" />
          <small>فروش</small>
        </div>
        <div nz-col [nzSpan]="6">
          <img src="assets/theme/images/modules/tresury.png" />
          <small>انبار</small>
        </div>
        <div nz-col [nzSpan]="6">
          <img src="assets/theme/images/modules/person-man.png" />
          <small>پرسنلی</small>
        </div>
        <div nz-col [nzSpan]="6">
          <img src="assets/theme/images/modules/orgChart.png" />
          <small>چارت سازمانی</small>
        </div>
        <div nz-col [nzSpan]="6">
          <img src="assets/theme/images/modules/bom.png" />
          <small>BOM</small>
        </div>
        <div nz-col [nzSpan]="6">
          <img src="assets/theme/images/modules/shopping.png" />
          <small>خرید</small>
        </div>
      </div>
    </nz-spin>
  </div>
</nz-dropdown-menu>
