<div class="card p-20">
  <h2>شرح احکام</h2>
  <hr />
  <div>
    <button nz-button (click)="addRow()" nzType="primary" class="addBtn">اضافه کردن</button>
    <nz-table #editRowTable nzBordered [nzData]="listOfData">
      <thead>
        <tr>
          <th nzWidth="100px">سریال</th>
          <th nzWidth="">شرح حکم</th>
          <th nzWidth="170px">حذف</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data; let index = index" class="editable-row">
          <td>{{ index + 1 }}</td>
          <td>{{ data.description }}</td>
          <td></td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
