<div class="card p-20 mb-20" nz-col nzSpan="24">
  <h2>مشخصات پرسنل</h2>
  <hr>
  <form nz-form [formGroup]="myform" role="form">
    <div nz-col nzSpan="21">
      <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="serial">شماره پرسنلی</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'شماره پرسنلی'">
              <nz-input-group>
                <input nz-input formControlName="serial"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="JobId">شماره فرم متقاضی کار</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'شماره فرم متقاضی کار'">
              <nz-input-group>
                <input nz-input formControlName="JobId"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="Status">وضعیت</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'وضعیت '">
              <nz-input-group>
                <nz-select formControlName="Status">
                  <nz-option *ngFor="let item of constants?.vaziate_personnel" [nzValue]="item" [nzLabel]="item"></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="FirstName">نام فارسی</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="'نام فارسی'">
              <nz-input-group>
                <input nz-input formControlName="FirstName"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="FirstNameEnglish">نام لاتین</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="' نام لاتین '">
              <nz-input-group>
                <input nz-input formControlName="FirstNameEnglish"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="LastName">نام خانوادگی فارسی</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="'نام خانوادگی فارسی'">
              <nz-input-group>
                <input nz-input formControlName="LastName"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="LastNameEnglish">نام خانوادگی لاتین</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="'نام خانوادگی لاتین'">
              <nz-input-group>
                <input nz-input formControlName="LastNameEnglish"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="flex flex-center" nz-col nzSpan="3">
        <nz-upload
          class="avatar-uploader"
          nzAction="https://jsonplaceholder.typicode.com/posts/"
          nzName="avatar"
          nzListType="picture-card"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
        >
          <ng-container *ngIf="!avatarUrl">
            <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
            <div class="ant-upload-text">عکس پرسنلی</div>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar"/>
        </nz-upload>
      </div>
      <div nz-col nzSpan="24">
        <button class="submitBtnInsurance" nz-button nzType="primary" (click)="submit()">ثبت</button>
      </div>
  </form>
</div>
<div nz-col nzSpan="24">
  <nz-collapse nzAccordion>
    <nz-collapse-panel
      #p
      *ngFor="let panel of panels; let isFirst = first; let i = index"
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [ngStyle]="panel.customStyle"
    >
      <ng-container *ngIf="i === 0">
        <div nz-col nzSpan="24">
          <form nz-form [formGroup]="myform" (ngSubmit)="submit()" role="form">
            <div nz-col nzSpan="24">
              <div nz-row [nzGutter]="12">
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="NationalCode">کد ملی</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'کد ملی'">
                      <nz-input-group>
                        <input nz-input formControlName="NationalCode"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="IdNumber">شناسنامه</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'شناسنامه'">
                      <nz-input-group>
                        <input nz-input formControlName="IdNumber"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="IdSerialNumber">شناسه شناسنامه</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'شناسه شناسنامه '">
                      <nz-input-group>
                        <input nz-input formControlName="IdSerialNumber"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="IssuanceCityId">محل صدور</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'محل صدور'">
                      <nz-input-group>
                        <input nz-input formControlName="IssuanceCityId"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="BirthPlaceCityId">محل تولد</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'محل تولد'">
                      <nz-input-group>
                        <input nz-input formControlName="BirthPlaceCityId"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="BirthDate">تاریخ تولد</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'تاریخ تولد '">
                      <nz-input-group>
                          <dp-date-picker dir="rtl" mode="day" theme="dp-material" formControlName="BirthDate"></dp-date-picker>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="Gender">جنسیت</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'جنسیت'">
                      <nz-input-group>
                        <nz-select formControlName="Gender">
                          <nz-option *ngFor="let item of constants?.gensiat" [nzValue]="item" [nzLabel]="item"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="MaritalStatus">وضعیت تاهل</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'وضعیت تاهل'">
                      <nz-input-group>
                        <nz-select formControlName="MaritalStatus">
                          <nz-option *ngFor="let item of constants?.vaziat_taahol" [nzValue]="item" [nzLabel]="item"></nz-option>
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="MarriageDate">تاریخ ازدواج</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'تاریخ ازدواج '">
                      <nz-input-group>
                          <dp-date-picker dir="rtl" mode="day" theme="dp-material" formControlName="MarriageDate"></dp-date-picker>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="PhoneNumber">شماره تلفن</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'شماره تلفن'">
                      <nz-input-group>
                        <input nz-input formControlName="PhoneNumber"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="MobileNumber">شماره موبایل</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'شماره موبایل'">
                      <nz-input-group>
                        <input nz-input formControlName="MobileNumber"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                  <nz-form-item>
                    <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="PostalCode">کدپستی</nz-form-label>
                    <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'کدپستی '">
                      <nz-input-group>
                        <input nz-input formControlName="PostalCode"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="Address">آدرس</nz-form-label>
                    <nz-form-control [nzSm]="20" [nzXs]="24" [nzErrorTip]="'آدرس '">
                      <textarea rows="4" nz-input formControlName="Address"></textarea>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="ReligionType">دین</nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'دین'">
                    <nz-input-group>
                      <nz-select formControlName="ReligionType">
                        <nz-option *ngFor="let item of constants?.din" [nzValue]="item" [nzLabel]="item"></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="BloodType">گروه خونی</nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'گروه خونی'">
                    <nz-input-group>
                      <nz-select formControlName="BloodType">
                        <nz-option *ngFor="let item of constants?.group_khooni" [nzValue]="item" [nzLabel]="item"></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="SoldierType">نظام وظیفه</nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'نظام وظیفه '">
                    <nz-input-group>
                      <nz-select formControlName="SoldierType">
                        <nz-option *ngFor="let item of constants?.nezam_vazife" [nzValue]="item" [nzLabel]="item"></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="HousingType">نوع مسکن</nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'نوع مسکن'">
                    <nz-input-group>
                      <nz-select formControlName="HousingType">
                        <nz-option *ngFor="let item of constants?.noe_maskan" [nzValue]="item" [nzLabel]="item"></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="InsuranceType">نوع بیمه</nz-form-label>
                  <nz-form-control [nzSm]="12" [nzXs]="24" [nzErrorTip]="'نوع بیمه'">
                    <nz-input-group>
                      <nz-select formControlName="InsuranceType">
                        <nz-option *ngFor="let item of constants?.noe_bime" [nzValue]="item" [nzLabel]="item"></nz-option>
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="24">
                <p style="margin-bottom: 20px;">
                  <label nz-checkbox formControlName="IsMartyrChild" (click)="checkButtonMartyr()">
                    فرزند شهید
                  </label>
                </p>
                <nz-form-item *ngIf="IsMartyrChild">
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="FrontFrequency">توالی حضور در جبهه</nz-form-label>
                  <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="'توالی حضور در جبهه'">
                    <nz-input-group>
                      <input nz-input formControlName="FrontFrequency"/>
                    </nz-input-group>
                  </nz-form-control>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="InjuriesPercentage">درصد جانبازی</nz-form-label>
                  <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="'درصد جانبازی'">
                    <nz-input-group>
                      <input nz-input formControlName="InjuriesPercentage"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="24">
                <p style="margin-bottom: 20px;">
                  <label nz-checkbox formControlName="IsMartyrFamily" (click)="checkButtonMartyrFamily()">
                    خانواده شهید
                  </label>
                </p>
                <nz-form-item *ngIf="IsMartyrFamily">
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="FrontDuration">مدت جبهه</nz-form-label>
                  <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="'مدت جبهه'">
                    <nz-input-group>
                      <input nz-input formControlName="FrontDuration"/>
                    </nz-input-group>
                  </nz-form-control>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="BondageDuration">مدت اسارت</nz-form-label>
                  <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="'مدت اسارت'">
                    <nz-input-group>
                      <input nz-input formControlName="BondageDuration"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
      </ng-container>
      <ng-container *ngIf="i === 1">
        <button nz-button (click)="addRow()" nzType="primary" class="addBtn">اضافه کردن</button>
        <nz-table #editRowTable nzBordered [nzData]="edudata">
          <thead>
            <tr>
              <th nzWidth="100px">ردیف</th>
              <th nzWidth="150px">نوع مدرک</th>
              <th nzWidth="">نام دانشگاه</th>
              <th nzWidth="150px">رشته</th>
              <th nzWidth="150px">گرایش</th>
              <th nzWidth="100px">تاریخ شروع</th>
              <th nzWidth="100px">تاریخ پایان</th>
              <th nzWidth="80px">معدل</th>
              <th nzWidth="120px">فعال</th>
              <th nzWidth="180px">عملگر</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of editRowTable.data">
              <td>{{ data.id }}</td>
              <td>{{ data.type }}</td>
              <td>{{ data.uni }}</td>
              <td>{{ data.reshte }}</td>
              <td>{{ data.gerayesh }}</td>
              <td>{{ data.start }}</td>
              <td>{{ data.end }}</td>
              <td>{{ data.average }}</td>
              <td>{{ data.active }}</td>
              <td>
                <!-- <div class="editable-row-operations">
                  <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
                    <a (click)="startEdit(data.id)">ویرایش</a>
                  </ng-container>
                  <ng-template #saveTpl>
                    <a (click)="saveEdit(data.id)">ذخیره</a>
                    <a nz-popconfirm nzTitle="انصراف می دهید؟" (nzOnConfirm)="cancelEdit(data.id)">انصراف</a>
                  </ng-template>
                </div> -->
              </td>
            </tr>
          </tbody>
        </nz-table>
      </ng-container>
      <ng-container *ngIf="i === 2">
        <div nz-col nzSpan="24">
          <button nz-button (click)="addRow()" nzType="primary" class="addBtn">اضافه کردن</button>
        </div>

        <div nz-col nzSpan="24">
          <nz-table #editRowTable nzBordered [nzData]="jobs">
            <thead>
              <tr>
                <th nzWidth="100px">ردیف</th>
                <th nzWidth="">عنوان کار</th>
                <th nzWidth="200px">محل کار</th>
                <th nzWidth="100px">مدت (ماه)</th>
                <th nzWidth="140px">مدت قابل قبول</th>
                <th nzWidth="140px">تاریخ شروع</th>
                <th nzWidth="140px">تاریخ پایان</th>
                <th nzWidth="170px">عملگر ها</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of editRowTable.data; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.location }}</td>
                <td>{{ data.duration }}</td>
                <td>{{ data.valid_duration }}</td>
                <td>{{ data.startTime }}</td>
                <td>{{ data.endTime }}</td>
                <td>
                  <!-- <div class="editable-row-operations">
                    <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
                      <a (click)="startEdit(data.id)">ویرایش</a>
                    </ng-container>
                    <ng-template #saveTpl>
                      <a (click)="saveEdit(data.id)">ذخیره</a>
                      <a nz-popconfirm nzTitle="انصراف می دهید؟" (nzOnConfirm)="cancelEdit(data.id)">انصراف</a>
                    </ng-template>
                  </div> -->
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </ng-container>
      <ng-container *ngIf="i === 3">
        <div nz-col nzSpan="24">
          <button nz-button (click)="addRow()" nzType="primary" class="addBtn">اضافه کردن</button>
        </div>
        <div nz-col nzSpan="14">
          <nz-table #editRowTable nzBordered [nzData]="dependents">
            <thead>
              <tr>
                <th nzWidth="100px">ردیف</th>
                <th nzWidth="">نام</th>
                <th nzWidth="">نام خانوادگی</th>
                <th nzWidth="200px">نسبت</th>
                <th nzWidth="150px">عملگرها</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of editRowTable.data; let index = index">
                <td>{{ index }}</td>
                <td>{{ data.firstname }}</td>
                <td>{{ data.lastname }}</td>
                <td>{{ data.nesbat }}</td>
                <td></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <form nz-form [formGroup]="deform" nz-col nzSpan="10">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="Gender">جنسیت</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="' جنسیت '">
                <nz-input-group>
                  <nz-select formControlName="Gender">
                    <nz-option *ngFor="let item of constants?.gensiat" [nzValue]="item" [nzLabel]="item"></nz-option>
                  </nz-select>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="BirthDate">تاریخ تولد</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="'تاریخ تولد'">
                <nz-input-group>
                    <dp-date-picker dir="rtl" mode="day" theme="dp-material" formControlName="BirthDate"></dp-date-picker>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="IdNumber">ش . ش</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="' شماره شناسنامه '">
                <nz-input-group>
                  <input nz-input formControlName="IdNumber"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="NationalCode">کد ملی</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="'کد ملی'">
                <nz-input-group>
                  <input nz-input formControlName="NationalCode"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="MarriageDate">تاریخ ازدواج</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="' تاریخ ازدواج '">
                <nz-input-group>
                    <dp-date-picker dir="rtl" mode="day" theme="dp-material" formControlName="MarriageDate"></dp-date-picker>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="EducationType">نوع مدرک</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="'نوع مدرک'">
                <nz-input-group>
                  <nz-select formControlName="EducationType">
                    <nz-option *ngFor="let item of constants?.madrak_tahsili" [nzValue]="item" [nzLabel]="item"></nz-option>
                  </nz-select>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <label nz-checkbox formControlName="IsSupplementaryInsured" (click)="checkButtonMartyr()"> بیمه تکمیلی </label>
          </div>
          <div nz-col nzSpan="12">
            <label nz-checkbox formControlName="IsDependant" (click)="checkButtonMartyrFamily()"> تحت تکفل </label>
          </div>
        </form>
      </ng-container>
      <ng-template #expandedIcon let-active>
        {{ active }}
        <i nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></i>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>
</div>
